<include href="views/header.html"></include>
</head>
<body>

<!-- Form for experience information -->
<form method="post" action="#">
    <label for="biography">Biography:</label><br>
    <textarea id="biography" name="biography" rows="4" cols="50"></textarea><br><br>

    <label for="github">Github Link:</label>
    <input type="text" id="github" name="github"><br><br>

    <label for="experience">Years Experience:</label><br>
    <input type="number" id="experience" name="experience" required><br><br>

    <label>Willing To Relocate:</label><br>
    <input type="radio" id="relocate_yes" name="relocate" value="Yes">
    <label for="relocate_yes">Yes</label><br>
    <input type="radio" id="relocate_no" name="relocate" value="No">
    <label for="relocate_no">No</label><br><br>

    <button type="submit">Next</button>
</form>

</body>
</html>
