.img-column img {
    float: right;
}

.button-container {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #f8f9fa;
}